/* Variables */
:root {
   --color-primary: #111;
   --color-bg: #fffffc;
   --color-border: #898989;
   --font-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      segoe ui, "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto,
      arial, sans-serif;
   --font-primary: "Geist Mono", var(--font-fallback);
   --font-heading: "Recursive", var(--font-fallback);
}

/* Resets from
https://www.joshwcomeau.com/css/custom-css-reset/
and
https://clagnut.com/blog/2433/
*/
*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

html {
   font-size: 100%;
   text-size-adjust: none;
   -webkit-font-smoothing: antialiased;
}

body {
   line-height: 1.75;
   text-rendering: optimizeLegibility;
   text-decoration-skip-ink: auto;
   font-optical-sizing: auto;
   font-variant-ligatures: common-ligatures no-discretionary-ligatures
      no-historical-ligatures contextual;
   font-kerning: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/* Body styles */
body {
   margin-inline: auto;
   max-width: 52rem;
   padding: 1rem;
   font-size: 0.975rem;
   font-family: var(--font-primary);
   font-weight: 400;
   color: var(--color-primary);
   background-color: var(--color-bg);
}

/* Header styles */
header {
   border-bottom: 2px solid var(--color-border);
}

.header-title,
.section-title {
   font-family: var(--font-heading);
}

.header-title {
   padding-bottom: 0;
   font-size: 2rem;
   font-weight: 700;
}

.header-container {
   padding-bottom: 0.75rem;
}

.header-subtitle {
   display: flex;
   gap: 0.5rem;
}

/* Main styles */
main {
   display: grid;
   grid-template-columns: min-content 1fr;
   column-gap: 2rem;
   padding-top: 1rem;
}

/* Section styles */
section {
   display: contents;
}

section::after {
   content: "";
   grid-column: 1 / -1;
   height: 1px;
   background-color: var(--color-border);
   opacity: 0.5;
   margin: 1rem 0;
}

section:last-child::after {
   display: none;
}

/* Section title styles */
.section-title {
   font-weight: 600;
   font-size: 1.125rem;
   color: var(--color-primary);
   line-height: 1.3;
}

.section-content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

/* Paper title styles */
.paper-title {
   font-weight: 600;
}

.paper-details,
.abstract {
   font-size: 0.9375rem;
}

.abstract {
   margin-top: 0.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
   main {
      grid-template-columns: 1fr;
      gap: 0.5rem;
   }

   .section-title {
      padding-bottom: 0.25rem;
   }

   section::after {
      margin: 0.25rem 0;
   }
}
