/* Variables */
:root {
   --color-primary: #111;
   --color-bg: #fffffc;
   --color-border: #898989;
   --font-primary: "Work Sans", system-ui, -apple-system, sans-serif;
}

/* Resets from
https://www.joshwcomeau.com/css/custom-css-reset/
and
https://clagnut.com/blog/2433/
*/
*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

html {
   font-size: 100%;
   -moz-text-size-adjust: none;
   -webkit-text-size-adjust: none;
   -webkit-font-smoothing: antialiased;
   text-size-adjust: none;
}

body {
   line-height: 1.5;
   text-rendering: optimizeLegibility;
   text-decoration-skip-ink: auto;
   font-optical-sizing: auto;
   font-variant-ligatures: common-ligatures no-discretionary-ligatures
      no-historical-ligatures contextual;
   font-kerning: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/* Body styles */
body {
   margin-inline: auto;
   max-width: 48rem;
   padding: 1.5rem;
   font-size: 1rem;
   font-family: var(--font-primary);
   font-weight: 400;
   color: var(--color-primary);
   background-color: var(--color-bg);
}

/* Header styles */
header {
   border-bottom: 2px solid var(--color-border);
}

header h1 {
   padding-bottom: 0rem;
   font-size: 2rem;
}

.header-title {
   padding-bottom: 1rem;
}

.header-subtitle {
   display: flex;
   gap: 0.5rem;
}

/* Main styles */
main {
   display: grid;
   grid-template-columns: min-content 1fr; /* Changed from auto 1fr */
   column-gap: 2rem; /*clamp(1rem, 0.5rem + 2vw, 1.5rem);*/
   padding-top: 1rem;
}

/* Section styles */
section {
   display: contents;
}

section::after {
   content: "";
   grid-column: 1 / -1;
   height: 1px;
   background-color: var(--color-border);
   opacity: 0.5;
   margin: 1rem 0;
}

section:last-child::after {
   display: none;
}

/* Section title styles */
.section-title {
   font-weight: bold;
   font-size: 1.125rem;
   color: var(--color-primary);
   line-height: 1.3;
}

.section-content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

/* Paper title styles */
.paper-title {
   font-weight: 600;
   margin-bottom: 0.125rem;
}

.paper-details {
   font-size: 0.9375rem;
}

.abstract {
   margin-top: 0.5rem;
   font-size: 0.9375rem;
}

/* Responsive styles */
@media (max-width: 768px) {
   main {
      grid-template-columns: 1fr;
      gap: 0.5rem;
   }

   .section-title {
      padding-bottom: 0.25rem;
   }

   section::after {
      margin: 0.25rem 0;
   }
}
