@import "tailwindcss";

@theme {
   --color-primary: #111;
   --color-bg: #fffffc;
   --color-border: #898989;
}

@layer base {
   body {
      line-height: 1.5;
      text-rendering: optimizeLegibility;
      text-decoration-skip-ink: auto;
      font-optical-sizing: auto;
      font-variant-ligatures: common-ligatures no-discretionary-ligatures
         no-historical-ligatures contextual;
      font-kerning: normal;
      background-color: var(--color-bg);
      color: var(--color-primary);
   }
}

@layer base {
   p,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      overflow-wrap: break-word;
   }

   p {
      text-wrap: pretty;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      text-wrap: balance;
   }
}
