---
import { getCollection } from "astro:content";
import Dissertation from "../components/Dissertation.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

import Section from "../components/Section.astro";
import "../styles/global.css";
import Paper from "../components/Paper.astro";
const papers = await getCollection("papers");
---

<html lang="en">
   <Head />
   <body class="p-6 mx-auto text-base font-normal max-w-[50rem]">
      <Header />
      <main class="pt-6 md:grid md:grid-cols-[min-content_1fr] md:gap-x-8">
         <Section title="About">
            Nec dubitamus multa iter quae et nos invenerat. Phasellus laoreet
            lorem vel dolor tempus vehicula. Unam incolunt Belgae, aliam
            Aquitani, tertiam. Unam incolunt Belgae, aliam Aquitani, tertiam.
         </Section>
         <Section title="Interests">
            <p>
               My primary interests are in syntax, morphology, and typology. My
               research focuses on the morphosyntax of Ā-dependencies, including
               the interaction of phi-agreement and Ā-movement and morphological
               reflexes of Ā-movement. More generally, I am interested in
               theories of agreement and what they can tell us about the
               grammar. On a broader scale, my work aims to meld rigorous
               typological research with minimalist analysis.
            </p>
            <p>
               I have conducted fieldwork on several understudied languages.
               These include two languages of Senegal, Seereer (Atlantic) and
               Noon (Cangin). Some of this work can be seen in my PhD qualifying
               paper on long distance wh-dependencies in Seereer and my
               presentations about adjective agreement in Noon. I have also
               worked on indigenous languages of North America. While in
               Berkeley I participated in the Karuk Treebank Project. While at
               University of Michigan, I worked on Sally Thomason's Montana
               Salish (Flathead) dictionary project.
            </p>
         </Section>
         <Dissertation />
         <Section title="Papers">
            {papers.map((p) => <Paper id={p.id} />)}
         </Section>
      </main>
   </body>
</html>
