<header class="border-b-2">
   <div class="pb-4">
      <h1 class="pb-0 text-3xl">Nico Baier</h1>
      <div class="flex flex-row gap-2">
         <div>Linguist</div>
         <div>|</div>
         <div>nico (dot) baier (at) gmail (dot) com</div>
      </div>
   </div>
</header>
