<head>
   <meta charset="UTF-8" />
   <title>Nico Baier</title>

   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="Nico Baier's personal website" />
   <meta name="author" content="Nico baier" />

   <link rel="canonical" href="https://nicobaier.com/" />

   <link href="mailto:nico.baier@gmail.com" rel="me" />
   <link href="https://github.com/nbbaier" rel="me" />
   <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
   <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
   <link rel="micropub" href="https://micropub.nicobaier.com/" />

   <meta property="og:site_name" content="Nico Baier" />
   <meta property="og:url" content="https://nicobaier.com/" />
   <meta property="og:title" content="Nico Baier" />
   <meta property="og:description" content="Nico Baier's personal website" />
   <meta property="og:type" content="article" />

   <script
      defer
      is:inline
      data-site-id="nicobaier.com"
      src="https://assets.onedollarstats.com/tracker.js"></script>

   <script type="application/ld+json">
      {
         "@context": "http://schema.org",
         "@type": "Person",
         "email": "mailto:nico.baier@gmail.com",
         "jobTitle": "Natural Language Analyst",
         "name": "Nico Baier",
         "additionalName": "Nicholas Baier",
         "alumniOf": [
            "University of Michigan",
            "University of California, Berkeley"
         ],
         "birthPlace": "Ann Arbor, Michigan",
         "url": "https://nicobaier.com",
         "sameAs": [
            "https://linkedin.com/in/nbbaier",
            "https://github.com/nbbaier/",
            "https://bsky.app/profile/nicobaier.com"
         ]
      }
   </script>
</head>
