---
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";
import "./src/styles/style.css";
import { join } from "node:path";

const siteTitle = "Nico Baier";
const author = "Nico Baier";
const canonicalURL = Astro.url.toString();
const description = "Nico Baier's personal website";

const personSchema = {
   "@context": "http://schema.org",
   "@type": "Person",
   email: "mailto:nico.baier@gmail.com",
   jobTitle: "Natural Language Analyst",
   name: "Nico Baier",
   additionalName: "Nicholas Baier",
   alumniOf: ["University of Michigan", "University of California, Berkeley"],
   birthPlace: "Ann Arbor, Michigan",
   url: "https://nicobaier.com",
   sameAs: [
      "https://linkedin.com/in/nbbaier",
      "https://github.com/nbbaier/",
      "https://bsky.app/profile/nicobaier.com",
   ],
};

const websiteSchema = JSON.stringify({
   "@context": "http://schema.org",
   "@type": "WebPage",
   name: { siteTitle },
   description: { description },
   author: personSchema,
});
---

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <SEO
      title={siteTitle}
      description={description}
      canonical={canonicalURL}
      openGraph={{
         basic: {
            title: siteTitle,
            type: "website",
            image: "",
            url: Astro.url.toString(),
         },
         optional: { siteName: "Nico Baier", description, locale: "en_US" },
      }}
      ,
      twitter={{
         card: "summary",
         creator: "@nbbaier",
         title: siteTitle,
         description,
      }}
      ,extend={{
         link: [
            { rel: "me", href: "mailto:nico.baier@gmail.com" },
            { rel: "me", href: "https://github.com/nbbaier" },
            {
               rel: "authorization_endpoint",
               href: "https://indieauth.com/auth",
            },
            {
               rel: "token_endpoint",
               href: "https://tokens.indieauth.com/token",
            },
            { rel: "micropub", href: "https://micropub.nicobaier.com/" },
         ],
      }}
   />

   <AstroFont
      config={[
         {
            src: [],
            name: "IMB Plex Sans",
            googleFontsURL:
               "https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap",
            preload: true,
            display: "swap",
            selector: "body",
            fallback: "sans-serif",
         },
      ]}
   />

   <title>Nico Baier</title>

   <script
      defer
      data-site-id="nicobaier.com"
      src="https://assets.onedollarstats.com/tracker.js"></script>

   <script type="application/ld+json" set:html={websiteSchema} is:inline />
</head>
