<header class="border-b-2">
   <div class="pb-3">
      <h1 class="pb-2 text-3xl">Nico Baier</h1>
      <div class="flex gap-x-2">
         <div>Linguist</div>
         <div>-</div>
         <div>nico.baier@gmail.com</div>
      </div>
   </div>
</header>
