---
import type { CSLType } from "@/lib/schema";
import { getCollection } from "astro:content";
import Paper from "./Paper.astro";

interface Props {
   type?: CSLType;
}

const { type } = Astro.props;

const output = await getCollection("output");
---

<div class="contents">
   {
      output
         .filter((item) => !type || item.data.type === type)
         .map((item) => <Paper id={item.id} />)
   }
</div>
